@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";


body {
  font-family: var(--font-poppins), var(--font-dm-mono), sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {

  }
  html {
    @apply font-sans;
  }
}